<p style="color: green"><%= notice %></p>

<%= render @poll %>

<div>
  <% if @poll.user_id == current_user&.id %>
    <%= link_to "Add answer to this pool", new_poll_poll_answer_path(@poll) %> |
    <%= link_to "Edit this poll", edit_poll_path(@poll) %> |
  <% end %>
  <%= link_to "Back to polls", polls_path %>

  <% if @poll.user_id == current_user&.id %>
    <%= button_to "Destroy this poll", @poll, method: :delete %>
  <% end %>
</div>
